{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.css"/>
</head>
<body>

    <button onclick="add_board()">Новая доска</button>

    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js" %}"></script>

    <div id="chess_boards">
    <script type="text/javascript">let boards = {}</script>
    {% for chess_board in ChessBoards %}
        <div id="board-{{ chess_board.0 }}" class="chess_board" style="width: 200px"></div>
        <script type="text/javascript">
            boards[{{ chess_board.0 }}] = ChessBoard('board-{{ chess_board.0 }}', '{{ chess_board.1 }}')
        </script>
    {% endfor %}
    </div>

    <script>

        function add_board(){
            $.ajax({
                url: '/add_board/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response){
                    update_boards();
                },
                error: function() {
                }
            })
        }

        function update_boards(){
            $.ajax({
                url: '/update_boards/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    let server_board_ids = Object.keys(response['ChessBoards']);
                    let local_board_ids = Object.keys(boards);
                    let new_board_ids = server_board_ids.filter(x => !local_board_ids.includes(x));
                    new_board_ids.forEach(function(id){
                        $('#chess_boards').append('<div id="board-'+id+'" class="chess_board" style="width: 200px"></div>');
                        boards[id] = ChessBoard('board-'+id, {position: 'start', moveSpeed: 'slow'});
                    });

                    for (const id in response['ChessBoards']){
                        last_move = response['ChessBoards'][id]['last_move'];
                        console.log(last_move);
                        formatted_last_move = last_move.slice(0, 2) + '-' + last_move.slice(2);
                        console.log(formatted_last_move);
                        boards[id].move(formatted_last_move);
                    }

                    server_board_ids = Object.keys(response['ChessBoards']);
                    local_board_ids = Object.keys(boards);
                    let old_board_ids = local_board_ids.filter(x => !server_board_ids.includes(x));
                    old_board_ids.forEach(function(id){
                        $('#board-'+id).remove();
                        delete boards[id];
                    });
                },
                error: function() {
                }
            })
        }

        update_boards();
        window.setInterval(update_boards, 1000);

    </script>
</body>
</html>