{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.css"/>
</head>
<body>

    <button onclick="add_board()">Новая доска</button>

    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "chess.js/chess.js" %}"></script>
    <script src="{% static "@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js" %}"></script>

    <div id="chess_boards">
    {% for chess_board in ChessBoards %}
        <div id="board-{{ chess_board }}" class="chess_board" style="width: 200px"></div>
    {% endfor %}
    </div>

    <script>

        function add_board(){
            $.ajax({
                url: '/add_board/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response){
                    $('#chess_boards').html(response['ChessBoards']);
                    window.setTimeout(update_boards)
                },
                error: function() {
                }
            })
        }

        function update_boards(){
            $.ajax({
                url: '/update_boards/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(response) {
                    chess_board_ids = [];
                    $('.chess_board').each(function(){ chess_board_ids.push(this.id.slice(6)) });
                    for (const [id, fen] of Object.entries(response['ChessBoards'])){
                        Chessboard('board-'+id, fen);
                    }
                    let difference = chess_board_ids.filter(x => !Object.keys(response['ChessBoards']).includes(x));
                    for (const i in difference){
                        $('#board-'+difference[i]).remove();
                    }
                },
                error: function() {
                }
            })
        }

        window.setInterval(update_boards, 1000);

    </script>
</body>
</html>