{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.css"/>
</head>
<body>
    <div id="myBoard" style="width: 400px"></div>
    <script src="{% static "jquery/dist/jquery.js" %}"></script>
    <script src="{% static "chess.js/chess.js" %}"></script>
    <script src="{% static "@chrisoakman/chessboardjs/dist/chessboard-1.0.0.js" %}"></script>
    <script>
        var board = null;
        var game = new Chess();

        function makeRandomMove () {
          var possibleMoves = game.moves();

          // exit if the game is over
          if (game.game_over()) return;

          var randomIdx = Math.floor(Math.random() * possibleMoves.length);
          game.move(possibleMoves[randomIdx]);
          board.position(game.fen());

          window.setTimeout(makeRandomMove, 500);
        }

        setTimeout(function() {
            board = Chessboard('myBoard', 'start');
        }, 0);

        window.setTimeout(makeRandomMove, 500);
    </script>
</body>
</html>